    /* General Reset */
    * {
        margin: 1;
        padding: 1;
        box-sizing: border-box;
      }
  
      body {
        margin: 0;
        font-family: 'Arial', sans-serif;
        background-color: #121212;
        color: #fff;
        line-height: 1.6;
        overflow-x: hidden;
      }
  
      header {
        text-align: center;
        padding: 2rem;
        background: linear-gradient(135deg, #000000, #191919, #242424);
      }
  
      header > h1 {
        font-size: 4rem;
        color: #ffffff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border: 5px solid rgb(0 138 155);
        border-radius: 10px;
      }
  
      header p {
        font-size: 1.2rem;
        margin-top: 1rem;
        color: #ccc;
        border-bottom: 2px solid #ffffff;
        display: inline-block;
        padding-bottom: 0.5rem;
      }

      .navbar {
        padding: 3rem 2rem;
        display: flex; /* Enable flexbox */
      }

      .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex: 1;
        justify-content: space-around;
        gap: 2rem;
      }
      
      .nav-links li {
        position: relative;
      }
      
      .nav-links a {
        text-decoration: none;
        color: white;
        margin-block: 5rem;
        transition: color 0.3s ease;
        font-size: 35px;
      }
      
      .nav-links a:hover {
        color: #ffdc16;
      }
      
      /* -----------------Underline animation----------------- */
      .nav-links a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #cbac00;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
      }
      
      .nav-links a:hover::after {
        transform: scaleX(1);
        transform-origin: center;
      }

      /* -----------------Back to Top Button Style----------------- */
      #backToTop {
      display: none; /* Hidden by default */
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 100; /* Keep it on top */
      background-color: #575757; /* Blue background */
      color: white; /* White text */
      border: none;
      border-radius: 50px;
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }

      #backToTop:hover {
      background-color: #292929; /* Darker blue on hover */
      }


      /* -----------------Introductory Names Section A----------------- */
      .intro-design {
        padding: 1rem;
        background-color: #003856;
      }

      .intro-DIV-A {
        text-align: left;
        margin-bottom: 20rem;
        animation: fade-out linear;
        animation-timeline: view();
        animation-range: exit -150px;
      }

      .intro-DIV-A h2 {
        margin-left: 13rem;
        margin-top: 15rem;
        font-size: 40px ;
        text-shadow: 2px 2px 8px #000000;
      }

      .intro-design p {
        margin-left: 13rem;
        font-size: 25px;
        text-shadow: 2px 2px #000000;
      }

      .intro-DIV-B {
        text-align: right ;
        margin-bottom: 15rem;
        animation: fade-out linear;
        animation-timeline: view();
        animation-range: exit -150px;
      }

      .intro-DIV-B h2 {
        margin-right: 13rem;
        font-size: 40px ;
        text-shadow: 2px 2px 8px #000000;
      }

      .intro-design p {
        margin-right: 13rem;
        font-size: 25px;
        text-shadow: 2px 2px #000000;

      }

      /* -----------------Education Section----------------- */
      div.educ-bg {
        text-align: center ;
        margin-bottom: 10rem;
        width: 75%;
        margin-inline: auto;
        background-color: #1e1e1e;
        border-radius: 30px;
        padding-top: 2rem;
        animation: fade-out linear;
        animation-timeline: view();
        animation-range: exit 200px;
      }

      div.educ-bg h2 {
        margin-right: -2rem;
        font-size: 40px ;
      }

      div.educ-bg ul {
        display: inline-block;
        text-align: left;
        font-size: 22px;
      }

      div.educ-bg li {
        margin-bottom: 5rem;
      }

      /* -----------------Qualifications Section----------------- */
      .intro-DIV-C {

        margin-bottom: 15rem;
      }

      .intro-DIV-C h2{
        font-size: 40px;
      }

      .skills-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .h2excl {
        display: flex;
        justify-content: center;
      }

      .img1 {
        margin-right: 5px;
        width: 50px;
        height: 45px;
      }

      table.position {
        margin-left: auto; 
        margin-right: auto;
        font-family: arial, sans-serif;
        width: 80%;
        border-collapse: collapse;
      }

      .intro-design th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 25px;
        color: #00fbff;
        text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
      }
      
      .intro-design td {
        background-color: #001e2e;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 25px;
      }

      .position {
        animation: fade-out linear;
        animation-timeline: view();
        animation-range: exit -150px;
      }

      .th-GIF-bg1 {
        background-image: url("thVideo1.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80%;
      }

      .th-GIF-bg2 {
        background-image: url("thVideo2.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80%;
      }

      .th-GIF-bg3 {
        background-image: url("thVideo3.gif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80%;
      }


          /* -----------------Projects Section----------------- */
      .projects {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        flex-wrap: wrap;
        padding: 4rem 2rem;
      }

      .projects a {
        text-decoration:none
      }
  
      .project-card {
        background-color: #292929;
        border-radius: 15px;
        padding: 2rem;
        text-align: center;
        color: #fff;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s, box-shadow 0.3s;
      }
  
      .project-card:hover {
        transform: translateY(-10px);
        --shadow-color: hsl(181, 100%, 37%);
        filter: drop-shadow(
        1px 2px 8px var(--shadow-color)
      );
      }
  
      .project-card h3 {
        color: #00ffcc;
      }
  
      footer {
        padding: 2rem;
        background-color: #1a1a1a;
        color: #888;
      }

      .marg-top {
        margin-top: -3%;
      }

      .ft1 {
        margin-left: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;
      }

      .ftp1 {
        color: #e9c00c;
        text-decoration: none;
        text-align: center;
        margin-right: 30px;
      }
  
      footer a {
        color: #e9c00c;
        text-decoration: none;
      }

      .SVG-icons {
        width: 50px;
        height: 30px;
      }

      @keyframes fade-out {
        to {opacity: 0;}
      }

      @media (max-width: 1000px) {
        header > h1 {
          font-size: 3rem;
        }
        .nav-links {
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
        }
        .nav-links a {
          padding: 0;
          font-size: 20px;
        }
        .intro-DIV-A h2, .intro-DIV-B h2, .intro-design p {
          margin: 0;
        }
        .ft1 {
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
        }
      }

      .ftp1 {
        text-align: center;
        margin-right: 0px;
      }

      @media (max-width: 580px) {
        header > h1 {
          font-size: 2.5rem;
        }

        div.educ-bg h2 {
          margin-right: 0rem;
          font-size: 35px;
        }

      div.educ-bg ul {
        font-size: 20px;
        }
        
        th, td, tr {
          display: block;
        }

        .nav-links {
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
        }
        .nav-links a {
          padding: 0;
          font-size: 20px;
        }
        .intro-DIV-A h2, .intro-DIV-B h2, .intro-design p {
          margin: 0;
        }
        
        .ft1 {
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
        }

        .ftp1 {
          text-align: center;
          margin-right: 0px;
        }
      }